@font-face {
  font-family: 'Neutral Web';
  src: url('../fonts/NeutralWeb-Regular.woff2') format('woff2'),
  url('../fonts/NeutralWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutral Web';
  src: url('../fonts/NeutralWeb-Medium.woff2') format('woff2'),
  url('../fonts/NeutralWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FAM Aime TRIAL';
  src: url('../fonts/FAMAimeTRIAL-Regular.woff2') format('woff2'),
  url('../fonts/FAMAimeTRIAL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FAM Aime TRIAL';
  src: url('../fonts/FAMAimeTRIAL-Regular.woff2') format('woff2'),
  url('../fonts/FAMAimeTRIAL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


